$maincolor: #468bb9;
$sccolor: rgba(0, 123, 255, 0.78);
$dark: #333333;
// nglish Fonts
$en1:  'Do Hyeon';
$en2:  'Doppio One';

// Arabic Fonts
$ar1:  'Changa',;
$ar2:  'Tajawal',;

// signature Fonts
$ens1:  'Pacifico';
$ens2:  'Dancing Script';
