@import "vars";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Changa|Dancing+Script|Do+Hyeon|Doppio+One|Pacifico|Tajawal');
body {
    color: #585858;
    font-family: 'Cabin', sans-serif;
}


#fun-facts{
    text-align: center;
    padding: 15px 0 15px 0;
    .item{
        z-index: 50;
        color: white;
        margin: 0 auto;
        padding: 10px 0 5px 0;
        i{
            font-size: 44px;
            padding: 5px;
            border-radius: 100%;
            background: $sccolor;
            @include transition(all 0.3s ease-in-out);
        }
        h3{
            margin-top: 12px;
            font-family: $en1;
            font-size: 25px;
        }
        span{
            width: 100%;
            &:before,&::after{
                content:"";
                top: -4px;
                bottom: 0;
                width:2px;
                height:0;
                position: absolute;
                transition: all 0.2s linear;
                background: #fff;
            }
            &::after{
                left: 0;
            }
            &:before{
                right: 0;
            }
        }
        &::before , &::after{
            content:"";
            width: 0;
            height: 2px;
            left: 0;
            right: 0;
            position: absolute;
            transition: all 0.3s linear;
            background: #fff;
        }
        &::before{
            top: -6px;
        }
        &:hover{
            i{
                color: $sccolor;
                background: white;
            }
            &::before, &::after{
                width: 100%;
            }
            span:before,span::after{
                height: 100%;
            }
        }
    }
    &::before{
        content: "";
        width: 100%;
        height: 100%;
        background: #333;
        opacity: 0.8;
       // display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
}

#projects{
    .row{
      .project{
        margin-bottom: 12px;
        .header{
          overflow: hidden;
          position: relative;
          .front{
            width: 100%;
            transform: rotate(0deg);
            img{
              margin: 0 auto;
              width: 100%;
              height: 200px;
              object-fit: cover;
              display: block;
            }
            .desc{
              position: absolute;
              top: 0;
              width: 100%;
              p{
                margin: 0;
                color: #fff;
                padding: 5px;
                background: $sccolor;
              }
              .lang{
                float: right;
              }
              .date{
                float: left;
              }
            }
          }
          .front,.back{
            display: block;
            transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
            transition-duration: .5s;
            transition-property: transform, opacity, display;
          }
          .back{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: #fff;
            z-index: 2;
            height: 100%;
            text-align: center;
            // transform: scale(0);
            transform: translateY(-220px);
            //  transform: rotateY(-180deg);
            background: rgba(0, 0, 0, 0.83);
            overflow: hidden;
            p{
              padding: 45px 5px 30px 5px;
            }
          }
          &:hover {
            .front {
              //transform: rotateY(180deg);
            }
            .back {
              // transform: scale(1);
              transform: translateY(0px);
              //  transform: rotateY(0deg);
            }
          }
        }
        .card-body{
          .link{
            float: left;
            display: block;
            word-wrap:break-word ;
            a{
              font-size: 24px;
              font-family: $en1;
              &:hover{
                text-decoration: none;
              }
            }
          }
          .share{
            padding-top: 6px;
            float: right;
            padding-bottom: 2px;
            a{
              display: inline-block;
              font-size: 18px;
              border-radius: 100%;
              color: white;
              text-align: center;
              padding: 2px;
              height: 25px;
              width: 25px;
              i{
                position: relative;
                bottom: 2px;
                margin: 0 auto ;
              }
            }
          }
        }
      }
    }
}

#blogs{
  .card{
    .card-header{
      .front,.back{
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity, display;
        position: absolute;
      }
      .front {
        background: rgba(0, 0, 0, 0.62);
        height: 26px;
        padding: 5px;
        color: #fff;
      }
    }
    .card-body{
      .share{
        padding-top: 6px;
        float: right;
        padding-bottom: 2px;
        a{
          display: inline-block;
          font-size: 18px;
          border-radius: 5px;
          color: white;
          text-align: center;
          padding: 2px;
          height: 25px;
          width: 25px;
          i{
            position: relative;
            bottom: 2px;
            margin: 0 auto ;
          }
        }
      }
    }

  }
}


#supportus{
  h6{
    font-weight: bolder;
    color: #717070;
  }
  .btn{
    margin: 0px 5px;
  }
}

#footer{
  header{
    h3{
      padding: 6px;
      color: #ddd;
    }
    .contactformsec{
      h5{
        padding: 5px;
      }
    }
  }
  footer{
    bottom: 0;
    left: 0;
    right: 0;
    nav{
      width: max-content;
      .nav-link {
        font-size: 21px;
        margin: 5px 11px;
      }
    }
    .copyright{
      font-size: 13px;
      font-family: monospace;
      padding: 10px;
    }
  }
  ::placeholder {
    color: #dddddd;
    opacity: 1; /* Firefox */
  }
  select option{
    color: #ffffff;
  }
}

// socials
.social{
  &:hover{
    opacity: 0.7;
    text-decoration: none;
  }
}
.face{
  background: #4267b2;
}
.gplus{
  background: #d54538;
}
.twit{
  background: #2aa9e0;
}


// Fonts
.F-cabin {
    font-family: $en1;
}
.F-Palanquin {
    font-family:$en2 ;
}

// Other External Css
.title{
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    .icon-f {
        display: block;
        width: 200px;
        font-size: 25px;
        color: #fff;
        border-radius: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        &::before {
            content: "";
            width: 80px;
            height: 6px;
            background-color: $maincolor;
            display: block;
            position: relative;
            right: 0;
            float: left;
            top: 10px; }
        &::after {
            content: "";
            width: 80px;
            height: 6px;
            background-color: $maincolor;
            display: block;
            position: relative;
            right: 15px;
            float: right;
            top: 10px;
        }
    }
}
.colorAfterScroll{
    background: $dark;
}

.color {
    background: #eee;
  //  color: seashell;
    background-attachment: fixed;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.section {
    position: relative;
    padding: 3em 10%;
  .title{
    margin: 0 auto;
    text-align: center;
    span{
      margin-top:10px ;
      display: block;
      text-align: center;
      font-size: 25px;
      i{
        border:1.5px solid  $maincolor;
        padding: 5px;
        border-radius: 100%;
        color: $maincolor;
      }
      &::before, &::after{
        content: "";
        display: inline-block;
        width: 80px;
        height: 5px;
        top: -5px;
        position: relative;
        background: $sccolor;
      }
      &::after{
        right: 0;
      }
    }
  }
}
.section h2 {
    text-align: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0.49);
    margin-bottom: 100px;
    line-height: 67px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
.wrapper {
    width: 100%;
    overflow: hidden;
    -webkit-transition:  .35s ease-in-out;
    transition:  .35s ease-in-out;
}
.wrapper, body {
    position: relative;
}
.navbar{
    -webkit-transition:  .35s ease-in-out;
    transition:  .35s ease-in-out;
    #search-nav{
        color: #fff;
        input::placeholder{
            color: white;
        }
        button{
            color: white;
            background: $maincolor;
        }
    }
}
.bgimage {
    width:100%;
    position: relative;
    background-image: url(../imgs/pattern-slider.png) !important;
    background-position: center center;
    background: #2980b9;
    color: #fff;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

}
.bgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
}
.arrow-shape-blue {
    border-color: #28324E transparent transparent;
    bottom: -100px;
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.arrow-shape-blue, .arrow-shape-white {
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: block;
    width: 0;
    border-width: 100px 300px 0;
    position: absolute;
    left: 50%;
    border-style: solid;
    z-index: 1;
}
.card-icon {
    width: 100px;
    height: 100px;
    margin-top: -50px;
    background: #696969;
    border-radius: 100px;
    color: #f3f3f3;
    text-align: center;

}
.card-icon i {
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    text-align: center;
}

.vcenter{
  display:table-cell;
  vertical-align:middle;
}
.darker{
  background: rgba(0, 0, 0, 0.17);
}
.darker:focus {
  background-color: rgba(0, 0, 0, 0.90);
}
.vdivide:after {
  background: #e2e6ea;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 28px;
  min-height: 213px;
}